# ==========================
# macOS
# ==========================
.DS_Store
*.swp
*~

# ==========================
# Xcode
# ==========================
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa

# ==========================
# Swift Package Manager
# ==========================
.build/
Packages/

# ==========================
# Flutter
# ==========================
travelhub_flutter/.dart_tool/
travelhub_flutter/.packages
travelhub_flutter/build/
travelhub_flutter/.flutter-plugins
travelhub_flutter/.flutter-plugins-dependencies
travelhub_flutter/.metadata
travelhub_flutter/ios/Pods/
travelhub_flutter/ios/.symlinks/
travelhub_flutter/ios/Flutter/Flutter.framework
travelhub_flutter/ios/Flutter/Flutter.podspec
travelhub_flutter/ios/Flutter/Generated.xcconfig
travelhub_flutter/ios/Flutter/flutter_export_environment.sh
travelhub_flutter/android/.gradle/
travelhub_flutter/android/app/build/
travelhub_flutter/android/local.properties
travelhub_flutter/.idea/
travelhub_flutter/*.iml
travelhub_flutter/android/*.iml
travelhub_flutter/macos/Flutter/ephemeral/
travelhub_flutter/ios/Runner/GeneratedPluginRegistrant.h
travelhub_flutter/ios/Runner/GeneratedPluginRegistrant.m
travelhub_flutter/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# ==========================
# CocoaPods
# ==========================
Pods/

# ==========================
# Misc
# ==========================
*.log
